<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search for songs, artists, albums"howCancelButton="always" (ionChange)="searchForMusic()"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
      <ion-item button detail='true' *ngFor="let item of results" (click)="displayOptions(item, $event)">
        <ion-thumbnail slot="start">
          <ion-img [src]="item.album.cover_xl"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{item.title}}</h2>
          <p>{{item.artist.name}}</p>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
