ion-card {
    width: 50%;
  }
  
  .charts {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }
  
  ion-card-header {
    ion-card-title {
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
  }
  
  .flex {
    display: inline-block;
    margin-right: 5px;
  }